@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    font-family: 'Chakra Petch';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav div ul{
    display: flex;
    text-decoration: none;
    font-weight: bold;

}

body{
    background-color:  	#f59a50;
    color: #fb8064;
    font-weight: bold;
    
}

main{
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 5rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    background-color: #f0683f;
    height: 4rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.4rem;
}

footer div p a{
    font-weight: bold;
    color: #4b8515;
}

form{
    margin: 10rem;
    padding-top: 1rem;
    border: 5px solid green;
    background-color: #ffc37d;
    border-radius: 2rem;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

input{
    display: flex;
    padding-top: 1rem;
    border: 2px solid green;
    background-color: #f0683f;
    border-radius: 1rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}